{% extends 'base.html.twig' %}

{% block title %}Nouvelle Page Légale{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Page Légale</h1>

    {{ include('legal_page/_form.html.twig') }}

    <a class="btn-principal" href="{{ path('app_legal_page_index') }}">Retour à la liste</a>
	<a class="btn-principal" href="{{ path('app_panel_admin')}}">Retour au tableau administrateur</a>

{% endblock %}
