###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
# Désactive la ligne ci-dessous si ta CI/CD GitHub Actions ne fait pas de "importmap:install"
/assets/vendor/
###< symfony/asset-mapper ###

# Gestion des téléversements (Uploads)
/public/uploads/*
!/public/uploads/.gitkeep

# Dépendances Node (au cas où un outil tiers l'utilise)
node_modules/

# Outils de développement & IDE
/.idea/
/.vscode/
/.cursor/
/*.CodeWorkspace

# Fichiers Systèmes
.DS_Store
Thumbs.db