{% extends 'base.html.twig' %}

{% block title %}Votre réservation{% endblock %}

{% block body %}
    <h1>Votre réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_reservation_index') }}">Retour à la liste</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
