<form class="form-container" method="POST">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-principal">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</form>
