{% extends 'base.html.twig' %}

{% block title %}Options
{% endblock %}

{% block body %}
	<h1>Options</h1>

	<div class="options-container">
		<ul class="options-list">
			{% for option in options %}
				<li class="option-item">
					<div class="option-details">
						<strong>Nom :</strong>
						<span>{{ option.nom }}</span>
					</div>
					<div class="option-actions">
						<a class="btn-principal" href="{{ path('app_option_show', {'id': option.id}) }}">Voir</a>
						<a class="btn-principal" href="{{ path('app_option_edit', {'id': option.id}) }}">Modifier</a>
					</div>
				</li>
			{% else %}
				<li class="no-options">Aucune option trouvée</li>
			{% endfor %}
		</ul>
	</div>

	<a class="btn-principal" href="{{ path('app_option_new') }}">Créez une option ici</a>

{% endblock %}
