{% extends 'base.html.twig' %}

{% block title %}Créez votre option{% endblock %}

{% block body %}
    <h1>Créez votre option</h1>

    {{ include('option/_form.html.twig') }}

   <button><a href="{{ path('app_option_index') }}">Retour à la liste</a></button>
{% endblock %}
