{% extends 'base.html.twig' %}

{% block title %}Votre boîte de réception{% endblock %}

{% block body %}
    <h1>Bienvenue dans votre boîte de réception</h1>

    <div class="user-table">
        {% if messages is not empty %}
            <ul class="visit-list">
                {% for message in messages %}
                    <li class="visit-item">
                        <div class="visit-item-content">
                            <div class="detail-row">
                                <span class="detail-label">Objet :</span>
                                <span class="detail-value">{{ message.objet }}</span>
                            </div>
                            <div class="detail-row">
                                <span class="detail-label">Message :</span>
                                <span class="detail-value">{{ message.message }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'avez aucun nouveau message.</p>
        {% endif %}
    </div>

    <div class="navigation-links">
        <a class="btn-principal" href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}