{% extends 'base.html.twig' %}

{% block title %}Votre categorie{% endblock %}

{% block body %}
    <h1>Votre categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button><a href="{{ path('app_categorie_index') }}">Retour à la liste</a></button>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
