{% extends 'base.html.twig' %}

{% block title %}Venez visiter la salle.{% endblock %}

{% block body %}
    <h1>Réservez votre visite.</h1>

    {{ include('visite/_form.html.twig') }}

    <button><a href="{{ path('app_visite_index') }}">Retour à la liste</a></button>
{% endblock %}
