<div class="social-links">

	<a href="https://www.facebook.com/SCItheresiere" target="_blank"><img src="img/logo_facebook.png" alt="Notre Facebook">
		
	</a>


	<a href="https://share.google/7IN1JoSrkjDHCu1VT" target="_blank"><img src="img/logo_google.png" alt="Notre Google">

	</a>


</div>
