<nav class="navbar">
	<ul>
		<li>
			{# Lien vers la liste des documents légaux #}
			<a href="{{ path('app_legal_page_index') }}">Tableau des documents légaux</a>
		</li>
		<li>
			{# Lien pour créer un nouveau document légal #}
			<a href="{{ path('app_legal_page_new') }}">Nouveau document légal</a>
		</li>

	</ul>
</nav>
